<br />

<div class="row">
  <!--<h2 style="margin: auto;background-color: cornflowerblue; color: crimson; text-align: center;width: 1100px">COINS</h2>-->

  <input
    placeholder="What do you want to search?"
    style="margin: auto; color: green; width: 1020px;text-align: center;"
    class="form-control"
    type="text"
    (keyup)="applyQuickSearch()"
    [(ngModel)]="dataSearch"
  />

  <hr />
  <div
    class="col-md-12"
    style="margin:auto; margin-top: 10px; padding: 10px; border: 1px;border-spacing: 1px; border-style: solid; color: black;"
  >
    <hr />
    <hr />


    <ag-grid-angular
      style="margin: auto;width: 650px; height: 500px; text-decoration: solid;color: deeppink"
      cellStyle="cellStyle"
      class="ag-theme-balham"
      (rowClicked)="onRowClicked($event)"
      #agGrid
      [headerHeight]="50"
      paginationPageSize="15"
      [pagination]="true"
      [enableSorting]="true"
      [enableFilter]="true"
      [rowData]="rowData | async"
      rowSelection="multiple"
      [animateRows]="true"
      [frameworkComponents]="frameworkComponents"
      (gridReady)="onGridReady($event)"
      [columnDefs]="columnDefs"
    >
    </ag-grid-angular>


      <button class="btn btn-sm btn-warning" (click)="compareSelected()">
        Compare Coins
      </button>

    <button class="btn btn-sm btn-primary" (click)="exportExcelSheet()">
      Export Excel Sheet
    </button>

    <button class="btn btn-sm btn-success" (click)="exportCSVSheet()">
      Export CSV Sheet
    </button>
  </div>


